body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.cse {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cse h2 {
    color: #00698f;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.cse p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666;
}

.cse ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cse li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
}

.cse h3 {
    color: #00698f;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.cse .coursework {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cse .skills {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cse .career-opportunities {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cse a {
    text-decoration: none;
    color: #00698f;
}

.cse a:hover {
    color: #003d5c;
}